@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
$light-gray: #777;


/* header */ 

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
	color: #fff;
	text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $light-gray;
	a {
	color: $gray;
	a:hover {
	color: $gray-darker;
	}
}
	small {
	float: left;
}

	ul {
	float: right;
	list-style: none;
	li {
	float: left;
	margin-left: 15px;
	}
}
}